@import "tailwindcss";

html,
body {
  height: 100%;
  width: 100%;
}

#root {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  flex-direction: column;
  overflow-x: hidden;
}


@theme {
  --color-overlay-light-0: rgba(255, 255, 255, 0.05);
  --color-overlay-light-1: rgba(255, 255, 255, 0.1);
  --color-overlay-light-2: rgba(255, 255, 255, 0.2);
}

@layer components {
  .input-style {
    @apply text-[14px] focus:bg-overlay-light-1 bg-overlay-light-0 rounded px-1.5 py-1 border-[1px] border-overlay-light-0 focus:border-overlay-light-2 shadow-2xl drop-shadow-white outline-none text-center w-[50px];
  }
}

@layer utilities {
  .loader {
    width: 175px;
    height: 13px;
    background: linear-gradient(#eb2747 0 0) 0/0% no-repeat #f0315173;
    animation: l1 2s infinite linear;
  }

  @keyframes l1 {
    100% {
      background-size: 100%
    }
  }
}

.canvas .pointer {
  cursor: pointer;
}

.canvas:active .pointer {
  cursor: pointer;
}

.canvas {
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}
